<!DOCTYPE html>
<html>

<head>
    <title>ShareTech</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <nav>
            <div>
                <a href="/" class="brand-logo right">ShareTech</a>
            </div>
        </nav>
    </header>
    <div>
        <div>
            <div>
                <div id="chat-messages" v-html="chatContent">
                </div>
            </div>
        </div>
    </div>
    <div v-if="joined">
        <div>
            <input type="text" v-model="newMsg" @keyup.enter="send" id="message-content">
        </div>
        <div>
            <button id="send-button">
                Send
            </button>
        </div>
    </div>
    <div id="chat-content"></div>
    <footer class="page-footer">
    </footer>
    <script>
        chatContent = ''; // A running list of chat messages displayed on the screen
        email = null; // Email address used for grabbing an avatar
        username = null; // Our username
        joined = false; // True if email and username have been filled in
        ws = new WebSocket("ws://192.168.43.199:8080/api/ws") // Our websocket
        ws.addEventListener('message', function(e) {
            msg = JSON.parse(e.data);
            console.log(msg)
            $("#chat-content").append("<h4>" + msg.Message + "</h4>");
        });

        function send(messageContent) {
            if (messageContent != '') {
                ws.send(
                    JSON.stringify({
                        senderPk: parseInt(localStorage.getItem("userId")),
                        receiverPk: parseInt(localStorage.getItem("receiverId")),
                        message: $('<p>').html(messageContent).text()
                    })
                );
            }
        }

        $("#send-button").on("click touch", function () {
            send($("#message-content").val());
        });
    </script>
</html>