<!DOCTYPE html>
<html>

<head>
    <title>ShareTech</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <nav>
            <div>
                <a href="/" class="brand-logo right">ShareTech</a>
            </div>
        </nav>
    </header>
    <div>
        <div>
            <div>
                <div id="chat-messages" v-html="chatContent">
                </div>
            </div>
        </div>
    </div>
    <div id="chat-content"></div>
    <div v-if="joined">
        <div>
            <input type="text" v-model="newMsg" @keyup.enter="send" id="message-content">
        </div>
        <div>
            <button id="send-button">
                Send
            </button>
        </div>
    </div>
    <footer class="page-footer">
    </footer>
    <script>
        chatContent = ''; // A running list of chat messages displayed on the screen
        email = null; // Email address used for grabbing an avatar
        username = null; // Our username
        joined = false; // True if email and username have been filled in
        ws = new WebSocket("ws://192.168.43.199:8080/api/ws") // Our websocket
        ws.addEventListener('message', function (e) {
            msg = JSON.parse(e.data);
            console.log(msg)
            console.log(msg.SenderPk);
            if (localStorage.getItem("userId") == msg.SenderPk) {
                finalMessage = "<p style=\"padding: 3px; width: 30%; border: 1px solid green; border-radius: 10px; margin-left: 50%; overflow: scroll;\">" + msg.Message + "</p>";
            } else {
                finalMessage = "<p style=\"padding: 3px; width: 30%; border: 1px solid blue; border-radius: 10px; margin-left: 10%; overflow: scroll;\">" + msg.Message + "</p>";
            }
            $("#chat-content").append(finalMessage);
        });

        // this will  be  called  when the page loads
        $.ajax({
            type: 'GET',
            url: 'http://192.168.43.199:8080/api/old-messages',
            data: localStorage.getItem("receiverId") + ":" + localStorage.getItem("userId"),
            xhrFields: { withCredentials: true },
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                oldMessages = data.messages;
                oldMessages.forEach(function (element) {
                    messageData = element.split(" ::: ");
                    messageToShow = messageData[0];
                    isSender = messageData[1] == "true" ? true : false;
                    if (isSender) {
                        finalMessage = "<p style=\"padding: 3px; width: 30%; border: 1px solid green; border-radius: 10px; margin-left: 50%; overflow: scroll;\">" + messageToShow + "</p>";
                    } else {
                        finalMessage = "<p style=\"padding: 3px; width: 30%; border: 1px solid blue; border-radius: 10px; margin-left: 10%; overflow: scroll;\">" + messageToShow + "</p>";
                    }
                    $("#chat-content").append(finalMessage);
                    console.log(messageToShow);
                    console.log(isSender);
                });
                // console.log(data.messages);

            },
            error: function (message) {
                console.log(message.responseJSON);
            }
        })

        function send(messageContent) {
            if (messageContent != '') {
                ws.send(
                    JSON.stringify({
                        senderPk: parseInt(localStorage.getItem("userId")),
                        receiverPk: parseInt(localStorage.getItem("receiverId")),
                        message: $('<p>').html(messageContent).text()
                    })
                );
            }
        }

        $("#send-button").on("click touch", function () {
            send($("#message-content").val());
        });
    </script>

</html>